<%- include ("../../partials/header.ejs")%>
<%- include ("../../partials/navbar.ejs")%>
<div class="container">
    <hr>
    <h2>Articles</h2>
    <hr>
    <div class="category-btn">
        <a href="/admin/articles/new"class=" category-new" >New Article</a>
    </div>
    <table class="table table-bordered">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Action</th>

            </tr>

        </thead>
        
        <tbody>
            <% article.forEach(articles =>{ %> 
            <tr>
                <th><%=articles.id%></th>
                <th><%=articles.title%></th>
                <th><%=articles.slug%></th>
                <th><%=articles.category.title%></th>
                <th class="test-two">
                    <button class="editar"><a class="editar" href="/admin/articles/edit/<%=articles.id%>"  >Edit</a></button>
                    <form class=" test" method="POST"action="/articles/delete" onsubmit="confirmarDelecao(event,this)">
                    <input type="hidden" name="id" value="<%=articles.id%>">   
                    <button class="deletar">Delete</button>
                    </form>
                </th>

            </tr>


            <% }) %>  
        </tbody>
            
               
    </table>

</div>

<%- include ("../../partials/footer.ejs")%>


<script>
    function confirmarDelecao(event, form){ //funcao que previni submit errados
         event.preventDefault();
        var decision = confirm("Você quer deletar essa categoria?")
        if(decision){
            form.submit()

        }else{
            res.redirect("/admin/categories")
        }

    }
</script>